<div class="container-fluid">
  <!--<canvas id="responsive-canvas"></canvas>-->

  <ul id="navbar" class="nav justify-content-end">
    <!--<li class="nav-item">
      <a class="nav-link active" href="#scollToHome">Home</a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" href="#scollToSkills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scollToExperience">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>

  <section class="home" data-bs-spy="scroll" data-bs-target="#navbar">
    <div class="text-center" id="scollToHome">

      <img src="assets/img/profile_pic_1.jpg" alt="profile_picture" class="profile_img">
      <p>Jared Simonelli</p>
      <span>Web Developer / Software Engineer</span>
      <!--<p>Cigna: Software Engineer Advisor </p>-->

      <div class="about_me">
        <h2>Get to know my ass:</h2>
        <span>
          Hello! My name is Jared and currently I develop web applications for Cigna with my role being Software Engineer Advisor. My love for coding started in Game Development while in college.
          The power to create an interactive experience using the skills I learned captivated me. I took that love and started my career as a young professional at Cigna utilizing my Game Dev knowledge
          to help develop a Virtual Reality relaxation experience. While working on VR I was tasked to learn web development specializing in the Front End using Angular and the NgRx framework.
          Shortly after I transitioned into a full time web developer, working closely with the backend and pipeline gaining valuable experience in Spring Boot and GitLab CI. My goal as a software
          engineer is to become a competent full stack developer.
        </span>
      </div>
    </div>
  </section>

  <section class="skills" data-bs-spy="scroll" data-bs-target="#navbar">
    <div class="skills_container" id="scollToSkills">

      <div class="box flex-grid text-center">
        <div class="col border-right">
          <div class="skill_icon">
            <fa-icon class="fa-3x" [icon]="fontEndImg"></fa-icon>
          </div>

          <h4 class="mg_btm_md">Front End</h4>
          <ng-container *ngFor="let skill of fontEndSkills">
            <div class="skill_row">
              <div class="skill_header">{{skill.name}} &nbsp;</div>

              <ng-container *ngFor="let item of createRange(skill.exp)">
                <div class="rating_box fill_box"></div>
              </ng-container>

              <!-- TODO: implement half's -->
              <ng-container *ngIf="skill.exp % 1 !== 0">
                <div class="rating_box"></div>
              </ng-container>

              <ng-container *ngFor="let item of createRange(5 - skill.exp)">
                <div class="rating_box"></div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="col border-right">
          <div class="skill_icon">
            <fa-icon class="fa-3x" [icon]="generalIcon"></fa-icon>
          </div>

          <h4 class="mg_btm_md">General</h4>

          <ng-container *ngFor="let skill of generalSkills">
            <div class="skill_row">
              <div class="skill_header">{{skill.name}} &nbsp;</div>

              <ng-container *ngFor="let item of createRange(skill.exp)">
                <div class="rating_box fill_box"></div>
              </ng-container>

              <ng-container *ngFor="let item of createRange(5 - skill.exp)">
                <div class="rating_box"></div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="col">
          <div class="skill_icon">
            <fa-icon class="fa-3x" [icon]="gameDevIcon"></fa-icon>
          </div>

          <h4 class="mg_btm_md">Game Development</h4>

          <ng-container *ngFor="let skill of gameDevSkills">
            <div class="skill_row">
              <div class="skill_header">{{skill.name}} &nbsp;</div>

              <ng-container *ngFor="let item of createRange(skill.exp)">
                <div class="rating_box fill_box"></div>
              </ng-container>

              <ng-container *ngFor="let item of createRange(5 - skill.exp)">
                <div class="rating_box"></div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>

  <section class="experience container-fluid" data-bs-spy="scroll" data-bs-target="#navbar">
    <div class="text-center row" id="scollToExperience">
      <div class="d-flex justify-content-between">
        <div class="p-4 exp_box">
          <h4 class="mg_btm_md">Virtual Relaxation Pod</h4>
        </div>
        <div class="p-4 exp_box">
          <h4 class="mg_btm_md">Cigna Fitness Challenge</h4>
        </div>
        <div class="p-4 exp_box">
          <h4 class="mg_btm_md">Cigna Provider Portal</h4>
        </div>
      </div>
    </div>
  </section>
</div>

<router-outlet></router-outlet>
