<div class="content">
  <div class="nav">
    <nav class="nav_menu">
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Experience</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </nav>
  </div>

  <div class="home">
    <img src="assets/img/profile_pic_1.jpg" alt="profile_picture" class="profile_img">
    <div class="center-txt">
      <p>Jared Simonelli</p>
      <span>Web Developer / Software Engineer</span>
      <!--<p>Cigna: Software Engineer Advisor </p>-->

      <div class="about_me">
        <h3>Get to know my ass:</h3>
        <p>
          Hello! My name is Jared and currently I develop web applications for Cigna with my role being Software Engineer Advisor. My love for coding started in Game Development while in college.
          The power to create an interactive experience using the skills I learned captivated me. I took that love and started my career as a young professional at Cigna utilizing my Game Dev knowledge
          to help develop a Virtual Reality relaxation experience. While working on VR I was tasked to learn web development specializing in the Front End using Angular and the NgRx framework.
          Shortly after I transitioned into a full time web developer, working closely with the backend and pipeline gaining valuable experience in Spring Boot and GitLab CI. My goal as a software
          engineer is to become a competent full stack developer. 
        </p>
      </div>
     
    </div>
  </div>
</div>

<router-outlet></router-outlet>
