$grid-breakpoints: (
// Extra small screen / phone
xs: 0,
// Small screen / phone
sm: 576px,
// Medium screen / tablet
md: 768px,
// Large screen / desktop
lg: 992px,
// Extra large screen / wide desktop
xl: 1050px );

$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1610px );

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "bootstrap";

canvas#responsive-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: cadetblue;
}

.star-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  margin: 0;
  overflow: hidden;
}

.stars-on-top {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  margin: 0;
  overflow: hidden;
}

.sky-on-top {
  background: radial-gradient(ellipse at bottom, #88befc 0%, #75b5ff 100%);
  margin: 0;
  overflow: hidden;
}


.text-grey {
  color: dimgrey !important;
}

.nav-item a:visited {
  color: #a6a6a6;
}

.nav-link:hover {
  //color: #4d4d4d !important;
  color: black !important;
}

.nav-item a:active {
  color: #000000;
}

.active {
  color: #000000 !important;
  text-decoration: underline;
  transition: all 0.4s ease-in-out 0s;
}

.nav {
  background: white;
}

// ------- Hamburger Menu -------
.ham_nav {
  position: fixed;
  background-color: #e8e8e8;
  display: none;
  border-bottom: solid 1px white;
  z-index: 10;
}

.ham_nav #links {
  display: none;
}

.ham_nav .left_bar {
  padding: .5rem 1rem;
  font-size: 17px;
  width: 100vw;
  height: 45px;
}

.ham_nav a {
  // color: white;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.ham_nav a.ham_icon {
  background: #e8e8e8;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: black;
}

.ham_nav a:hover {
  background-color: lightgray;
  color: white;
}

.ham_nav_link:hover {
  //color: black !important;
  color: white !important;
}

.ham_nav_active {
  color: white !important;
  text-decoration: underline;
  transition: all 0.4s ease-in-out 0s;
}

.border-top {
  border-top: solid 1px white !important;
}

/*h4 {
  text-decoration: underline;
}*/

/*font-family: 'Courier New', monospace;*/
/*font-family: "europa", sans-serif;*/

.content {
  font-family: 'Courier New', monospace;
}

.header {
  padding-top: 3rem;
  font-weight: 100;
  z-index: 2;
  position: relative;
}

.pr {
  position: relative;
  z-index: 2;
}

/*.header-line::before, .header-line::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 4px;
  background-color: black;
  top: 7%;
}
.header-line::after {
  right: 29rem;
}

.header-line::before {
  left: 28.5rem;
}*/


// -------- HOME SECTION --------
.home {
  height: 100vh;
  min-height: 800px;
}

.about_me {
  width: 80%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.profile_img {
  width: 30%;
  max-width: 400px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.fh {
  height: 100%;
}

// -------- SKILLS SECTION --------
.skills {
  //height: 100vh;
  height: 800px;
  min-height: 800px;
  // background-color: #DBE8F9;
  background-color: #dedbd2;
  position: relative;
}

.skills_container {
  position: absolute;
  height: 90%;
  width: 100%;
}

.triangle_bottom_left {
  border-bottom: 500px solid #b0c4b1;
  border-right: 50vw solid #0000;
  position: inherit;
  z-index: 0;
  top: 18.7rem;
  left: 0;
}

.triangle_top_right {
  border-top: 500px solid #b0c4b1;
  border-left: 50vw solid transparent;
  position: inherit;
  z-index: 0;
  top: 0;
  right: 0;
}

/*
#scrollToSkills .header-line::before, #scrollToSkills .header-line::after {
  top: 8%;
}

#scrollToSkills .header-line::before {
  left: 31rem;
}

#scrollToSkills .header-line::after {
  right: 31rem;
}*/

.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
  border-radius: 25px;
  border: 2px solid white;
  background-color: white;
  //box-shadow: 4px 4px #e6f0f0;
  box-shadow: 0 5px 5px 0 #e9f0f380, 0 0 0 1px #e6ecf8;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}

.flex-grid .col {
  width: 32%;
}

.col {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.skills_border {
  border-right: 1px solid #dde2ed;
}

.skill_icon {
  margin-top: 2em;
}

.skill_row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 5%;
  margin-top: 15px;
  height: 30px;
}

.skill_header {
  width: 100px;
  font-weight: 400;
  font-size: 14px;
}

.icon-size {
  font-size: 3em;
}

.rating_box {
  border: 1px solid black;
  border-radius: 25%;
  width: 12px;
  height: 12px;
  margin-left: 1em;
}

.fill_box {
  background-color: #FFCC00;
}

// -------- EXPERIENCE SECTION --------
#scrollToExperience {
  height: 100%;
}

.experience {
  height: 100vh;
  min-height: 800px;
  // background-color: cadetblue;
  position: relative;
}

.pa {
  position: absolute;
}

.block {
  max-height: 380px;
  margin: 1em;
}

.block div {
  border-radius: 25px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}

.exp_col {
  height: 380px;
  //border: solid 1px black;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 98%;
}

.exp_pic {
  //opacity: 0.75;
  opacity: 1;
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  color: black !important;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  /*color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  //-webkit-text-stroke: 1px white;
}

.text {
  background-color: white;
  color: black;
  position: relative;
  top: -380px;
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  opacity: 0;
}

#podGrid:hover .exp_pic, #cfcGrid:hover .exp_pic, #chcpGrid:hover .exp_pic {
  opacity: 0;
}

#podGrid:hover .text, #cfcGrid:hover .text, #chcpGrid:hover .text {
  opacity: 1;
}

.pod_exp_img {
  background-image: url("/assets/img/pod_test.PNG");
  background-position: 19% !important;
}

.cfc_exp_img {
  background-image: url("/assets/img/cfc_link.jpg");
}

.chcp_exp_img {
  background-image: url("/assets/img/chcp_link.jpg");
  background-position: 98% !important;
}

.learn_more_btn {
  border: solid 1px cadetblue;
  margin: auto;
  margin-top: 100px;
  width: 110px;
  height: 27px;
  color: black;
}

.learn_more_btn:hover {
  background-color: cadetblue;
  color: white;
  -webkit-transition: background-color 150ms ease-in;
  transition: background-color 150ms ease-in;
}

.exp_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 30%;
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: #fff;
  box-shadow: 4px 4px #e6ecf8;
}

.exp_box p {
  font-size: 13px;
  padding: 1em 2em;
}

.modal-image {
  height: 250px;
  border-bottom: 1px solid #dee2e6;
  background-size: cover;
  background-repeat: no-repeat;
}


// -------- CONTACT SECTION --------
.contact {
  height: 90vh;
  min-height: 500px;
  background-color: #252934;
  position: relative;
}

.contact_contianer {
  position: absolute;
  height: 90%;
  width: 100%;
}

.contact-header {
  color: white;
  padding-top: 3rem;
}

.parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: red;
  position: relative;
}
  

/*#scrollToContact .header-line::before, #scrollToContact .header-line::after {
  background-color: white !important;
  top: 8%;
}

#scrollToContact .header-line::before {
  left: 29.5rem;
}

#scrollToContact .header-line::after {
  right: 29.5rem;
}*/

.form-control {
  background-color: #1e242c;
  color: white;
}

.form-control:focus {
  background-color: #1e242c;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1e242c inset !important;
  -webkit-text-fill-color: white !important;
}

div.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 75vw;
  max-width: 600px;
}

form button {
  width: 100%;
}

.btn-outline-light {
  background-color: white;
  color: black;
}

.btn-outline-light:hover {
  background-color: #a6a6a6;
  color: white;
}

.progress {
  width: 80%;
  background-color: #eee;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.bar {
  width: 1%;
  height: 20px;
  background-color: #17a2b8;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footnote {
  color: black;
}

footer {
  height: 10vh;
  min-height: 90px;
  background-color: #e9ecef;
}


// -------- Animations --------
#skills-header {
  width: 100%;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.slide-right {
  animation: 1s slide-right 0s forwards;
  transform: translateX(-100%);
}

.slide-left {
  animation: 1s slide-left 0s forwards;
  transform: translateX(200%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}


// -------- Media Queries --------
@media screen and (min-width: 1500px) {
  .exp_box p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  .chcp_exp_img {
    background-position: 93% !important;
  }
}

@media screen and (max-wdith: 1300px) {
  .icon-size {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1200px) {
  .pod_exp_img {
    background-position: 31% !important;
  }

  .chcp_exp_img {
    background-position: 90% !important;
  }
}


@media screen and (max-width: 1050px) {
  .skills {
    height: 1450px;
  }

  .triangle_bottom_left {
    top: 59.4rem;
    border-right: 100vw solid #0000;
  }

  .triangle_top_right {
    border-left: 100vw solid transparent;
  }

  .skill_icon {
    margin-top: 1em;
  }

  .flex-grid {
    flex-direction: column;
    height: 95%;
  }

  .flex-grid .col {
    width: 100%;
  }

  .col {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .skills_border {
    border-right: none;
    border-bottom: 1px solid #dde2ed;
    padding-bottom: 50px;
  }

  .experience {
    height: 1400px;
  }

  .experience_container {
    flex-direction: column;
  }

  #scrollToExperience {
    height: auto;
  }

  .exp_box {
    width: 90%;
    height: 400px;
    margin-bottom: 1.5em;
  }

  .exp_box p {
    font-size: initial;
    padding: 0;
  }
}

/*@media screen and (max-width: 765px) {
  .img_wrap {
    height: 50px;
    width: 25vw;
  }
}
*/

@media screen and (max-width: 600px) {
  .exp_box p {
    font-size: small;
  }

  .profile_img {
    width: 200px;
  }

  .about_me {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  #navbar {
    display: none;
  }

  .about_me span {
    font-size: 3vw;
  }

  .skill_header {
    font-size: 13px;
  }

  .ham_nav {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .modal-image {
    background-size: contain;
    height: 51vw;
  }
}

@media screen and (max-width: 400px) {
  .mb-4 {
    font-size: large;
  }

  .exp_box p {
    font-size: 3.2vw;
  }

  .icon-size {
    font-size: 2em;
  }
}

@media screen and (max-width: 350px) {
  .mb-4 {
    font-size: medium;
  }

  .mb-3 {
    font-size: medium;
  }

  .bar {
    font-size: x-small;
  }

  .progress {
    height: 15px;
  }

  .cfc_text {
    margin-bottom: 0;
  }
}

