<div class="container-fluid p-0">
  <!-- <canvas id="responsive-canvas"></canvas>-->
  <!--<canvas class="star-canvas"></canvas>-->
  <!--<canvas class="stars-on-top"></canvas>-->
  <!--<canvas class="sky-on-top"></canvas>-->

  <ng-container data-bs-spy="scroll" data-bs-target="#navbar">
    <section class="home pt-5" id="scrollToHome">
      <div class="text-center">
        <!-- LAVA LAMP -->
        <ng-container *ngIf="toggle === 'lava'">
          <div class="blob-container dbpa">
            <h1><span>WELCOME TO THE<br>JARED ZONE</span></h1>

            <div class="blobs_1 dbpa"></div>
            <div class="blobs_2 dbpa"></div>
            <div class="blobs_3 dbpa"></div>
            <div class="blobs_4 dbpa"></div>
            <div class="blobs_5 dbpa"></div>
            <div class="blobs_6 dbpa"></div>
            <div class="blobs_7 dbpa"></div>
          </div>
        </ng-container>

        <!-- ABSTRACT -->
        <div class="perspective-text">
          <div class="perspective-line">
            <p></p>
            <p>JARED <span *ngIf="screenWidth >= 990">SIMONELLI</span></p>
          </div>
          <div class="perspective-line">
            <p>JARED <span *ngIf="screenWidth >= 990">SIMONELLI</span></p>
            <p>Developer</p>
          </div>
          <div class="perspective-line">
            <p>Developer</p>
            <p>Gamer</p>
          </div>
          <div class="perspective-line">
            <p>Gamer</p>
            <p>Adventurer</p>
          </div>
          <div class="perspective-line">
            <p>Adventurer</p>
            <p></p>
          </div>
        </div>

      </div>
    </section>
  </ng-container>

  <!-- Regular Navigation Bar -->
  <ul id="navbar" [ngClass]="{'fixed-top': currentActive !== 1}" class="nav justify-content-start">
    <li class="nav-item">
      <a class="nav-link" id="home" href="#scrollToHome" (click)="changeTab('home')">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="about" href="#scrollToAbout" (click)="changeTab('about')">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="skills" href="#scrollToSkills" (click)="changeTab('skills')">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="experience" href="#scrollToExperience" (click)="changeTab('experience')">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact" href="#scrollToContact" (click)="changeTab('contact')">Contact</a>
    </li>
  </ul>

  <!-- Hamburger Navigation Menu -->
  <div class="ham_nav" [ngClass]="{'fixed-top': currentActive !== 1}">
    <div class="left_bar"></div>
    <div id="links" class="border-top">
      <a [ngClass]="{'ham_nav_active': currentActive === 1}" id="home" href="#scrollToHome" class="ham_nav_link" (click)="changeTab('home')">Home</a>

      <a [ngClass]="{'ham_nav_active': currentActive === 2}" id="home" href="#scrollToAbout" class="ham_nav_link" (click)="changeTab('about')">About</a>

      <a [ngClass]="{'ham_nav_active': currentActive === 3}" id="skills" href="#scrollToSkills" class="ham_nav_link" (click)="changeTab('skills')">Skills</a>
      <a [ngClass]="{'ham_nav_active': currentActive === 4}" id="experience" href="#scrollToExperience" class="ham_nav_link" (click)="changeTab('experience')">Experience</a>
      <a [ngClass]="{'ham_nav_active': currentActive === 5}" id="contact" href="#scrollToContact" class="ham_nav_link" (click)="changeTab('contact')">Contact</a>
    </div>

    <a href="javascript:void(0);" class="ham_icon" (click)="toggleHamburgerNavLinks()">
      <fa-icon class="fa-1x d-flex justify-content-between" [icon]="hamburgerBarsIcon"></fa-icon>
    </a>
  </div>

  <ng-container data-bs-spy="scroll" data-bs-target="#navbar">
    <section class="about pt-5" id="scrollToAbout">
      <div class="text-center">

        <img src="assets/img/profile_pic.jpg" alt="profile_picture" class="profile_img">

          <p>Jared Simonelli</p>
          <span>Web Developer / Software Engineer</span>
          <!--<p>Cigna: Software Engineer Advisor </p>-->

          <div class="about_me">
            <h2>About me</h2>
            <span>
              Inspired by the power to create an interactive user experience, I have spent the last 8 years developing a skill set that has allowed me to work across many (mediums) from game development to virtual reality, and on to full stack web development.
            </span>
          </div>

      </div>
    </section>
  </ng-container>

  <section id="skills_component" class="skills" data-bs-spy="scroll" data-bs-target="#navbar">
    <div class="skills_container text-center" id="scrollToSkills">
      <!--<h2 id="sHeader" class="hidden header pb-4"><u>SKILLS</u></h2>-->
      <h2 class="header pb-4">SKILLS</h2>

      <div class="triangle_top_right"></div>
      <!--<div id="sContainer" class="hidden box flex-grid">-->
      <div class="box flex-grid pr">
        <div class="col skills_border">
          <div class="skill_icon">
            <fa-icon class="icon-size" [icon]="fontEndIcon"></fa-icon>
          </div>

          <h4 class="mb-4 fw-4">Front End</h4>
          <ng-container *ngFor="let skill of fontEndSkills; let i = index">
            <div class="skill_row">
              <div class="skill_header">{{skill.name}} &nbsp;</div>

              <ng-container *ngIf="showProgressBar; else showBoxes">
                <div class="progress" [attr.id]="'progressFront' + i">
                  <div class="bar" [attr.id]="'barFront' + i">{{ skill.percentage }}%</div>
                </div>
              </ng-container>

              <ng-template #showBoxes>
                <ng-container *ngFor="let item of createRange(skill.exp)">
                  <div class="rating_box fill_box"></div>
                </ng-container>

                <ng-container *ngFor="let item of createRange(5 - skill.exp)">
                  <div class="rating_box"></div>
                </ng-container>
              </ng-template>
            </div>
          </ng-container>
        </div>

        <div class="col skills_border">
          <div class="skill_icon">
            <fa-icon class="icon-size" [icon]="generalIcon"></fa-icon>
          </div>

          <h4 class="mb-4 fw-4">General</h4>

          <ng-container *ngFor="let skill of generalSkills; let i = index">
            <div class="skill_row">
              <div class="skill_header">{{skill.name}} &nbsp;</div>

              <ng-container *ngIf="showProgressBar; else showBoxes">
                <div class="progress" [attr.id]="'progressGen' + i">
                  <div class="bar" [attr.id]="'barGen' + i">{{ skill.percentage }}%</div>
                </div>
              </ng-container>

              <ng-template #showBoxes>
                <ng-container *ngFor="let item of createRange(skill.exp)">
                  <div class="rating_box fill_box"></div>
                </ng-container>

                <ng-container *ngFor="let item of createRange(5 - skill.exp)">
                  <div class="rating_box"></div>
                </ng-container>
              </ng-template>
            </div>
          </ng-container>
        </div>

        <div class="col">
          <div class="skill_icon">
            <fa-icon class="icon-size" [icon]="gameDevIcon"></fa-icon>
          </div>

          <h4 class="mb-4 fw-4">Game Development</h4>

          <ng-container *ngFor="let skill of gameDevSkills; let i = index">
            <div class="skill_row">
              <div class="skill_header">{{skill.name}} &nbsp;</div>

              <ng-container *ngIf="showProgressBar; else showBoxes">
                <div class="progress" [attr.id]="'progressGame' + i">
                  <div class="bar" [attr.id]="'barGame' + i">{{ skill.percentage }}%</div>
                </div>
              </ng-container>

              <ng-template #showBoxes>
                <ng-container *ngFor="let item of createRange(skill.exp)">
                  <div class="rating_box fill_box"></div>
                </ng-container>

                <ng-container *ngFor="let item of createRange(5 - skill.exp)">
                  <div class="rating_box"></div>
                </ng-container>
              </ng-template>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="triangle_bottom_left"></div>
    </div>

  </section>

  <section class="experience container-fluid" data-bs-spy="scroll" data-bs-target="#navbar">
    <div class="text-center" id="scrollToExperience">
      <!--<h2 id="eHeader" class="hidden header pb-4"><u>EXPERIENCE</u></h2>-->
      <h2 class="header pb-4">EXPERIENCE</h2>

      <!--<div id="eContainer" class="hidden experience_container d-flex justify-content-between fh">-->
      <div class="container">
        <div class="row">

          <div id="podGrid" class="col-xl px-0 block">
            <!--<h5>Virtual Relaxation Pod</h5>-->

            <div class="exp_col pod_exp_img exp_pic">
              <h5>Virtual Relaxation Pod</h5>

            </div>

            <div class="exp_col text">
              <h5 class="mb-5">Virtual Relaxation Pod</h5>
              <fa-icon class="fa-3x" [icon]="podIcon"></fa-icon>
              <div class="learn_more_btn" data-toggle="modal" data-target="#experienceModal" (click)="modalSelect('pod')">LEARN MORE</div>
            </div>
          </div>

          <div id="cfcGrid" class="col-xl px-0 block">
            <div class="exp_col cfc_exp_img exp_pic">
              <h5>Global Fitness Challenge</h5>

            </div>

            <div class="exp_col text">
              <h5 class="mb-5">Global Fitness Challenge</h5>
              <fa-icon class="fa-3x" [icon]="cfcIcon"></fa-icon>
              <div class="learn_more_btn" data-toggle="modal" data-target="#experienceModal" (click)="modalSelect('cfc')">LEARN MORE</div>
            </div>
          </div>

          <div id="chcpGrid" class="col-xl px-0 block">
            <div class="exp_col chcp_exp_img exp_pic">
              <h5>Cigna's Provider Portal</h5>

            </div>

            <div class="exp_col text">
              <h5 class="mb-5">Cigna's Provider Portal</h5>
              <fa-icon class="fa-3x" [icon]="chcpIcon"></fa-icon>
              <div class="learn_more_btn" data-toggle="modal" data-target="#experienceModal" (click)="modalSelect('chcp')">LEARN MORE</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="experienceModal" tabindex="-1" role="dialog" aria-labelledby="experienceModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="experienceModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

          </div>
          <div class="modal-image">

          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button *ngIf="expModalType !== 'chcp'" type="button" class="btn btn-primary visit-site-btn" (click)="openLink(expModalType)">Visit Site</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pr contact container-fluid px-0" data-bs-spy="scroll" data-bs-target="#navbar">
    <div class="contact_contianer text-center" id="scrollToContact">
      <h2 class="header contact-header">CONTACT</h2>
      <div class="triangle_top_left"></div>

      <div class="pr">
        <form [formGroup]="contactForm" class="pt-4" (ngSubmit)="onSubmit()">
          <div class="form-group pb-3">
            <input type="text" class="form-control" formControlName="name" placeholder="Name">

            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger m-0 p-1">

              <div *ngIf="name.errors?.required">
                Required
              </div>
            </div>
          </div>

          <div class="form-group pb-3">
            <textarea class="form-control" formControlName="message" rows="3" placeholder="Enter message"></textarea>
            <div *ngIf="message.invalid && (message.dirty || message.touched)"
                 class="alert alert-danger m-0 p-1">

              <div *ngIf="message.errors?.required">
                Required
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-outline-dark">Send</button>
        </form>
      </div>

      <div class="triangle_bottom_right"></div>

    </div>
  </section>

  <footer>
    <div class="pt-3 pb-2 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-dark me-3 footer_btn" (click)="openLink('linkedin')">
        <i class="bi bi-linkedin"></i>
      </button>

      <!-- TODO: remove before deployment -->
      <!--<button type="button" class="btn btn-outline-dark" (click)="openLink('git')">
        <i class="bi-github" role="img" aria-label="GitHub"></i>
      </button>-->
    </div>

    <div class="footnote d-flex justify-content-center">
      Jared Simonelli &copy;2021
    </div>
  </footer>
</div>

<router-outlet></router-outlet>
