@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

canvas#responsive-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: cadetblue;
}

.nav-item a:visited {
  color: #a6a6a6;
}

.nav-link:hover {
  color: #4d4d4d;
}

.nav-item a:active {
  color: #000000;
}

.active {
  color: #000000 !important;
  text-decoration: underline;
  transition: all 0.4s ease-in-out 0s;
}

.nav {
  background: white;
}

h4 {
  text-decoration: underline;
}

/*font-family: 'Courier New', monospace;*/
/*font-family: "europa", sans-serif;*/

.content {
  font-family: 'Courier New', monospace;
}

.header {
  padding-top: 3rem;
}

// -------- HOME SECTION --------
.home {
  height: 100vh;
  min-height: 800px;
}

.about_me {
  width: 80%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.profile_img {
  width: 30%;
  max-width: 400px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.fh {
  height: 100%;
}

// -------- SKILLS SECTION --------
.skills {
  height: 100vh;
  //min-height: 800px;
  background-color: cadetblue;
  position: relative;
}

.skills_container {
  position: absolute;
  height: 90%;
  width: 100%;
}

.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
  border-radius: 25px;
  border: 2px solid white;
  background-color: white;
  box-shadow: 4px 4px #e6f0f0;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}

.flex-grid .col {
  width: 32%;
}

.col {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.skills_border {
  border-right: 1px solid #dde2ed;
}

.skill_icon {
  margin-top: 2em;
}

.skill_row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 5%;
  margin-top: 15px;
  height: 30px;
}

.skill_header {
  width: 100px;
  font-weight: bold;
}

.rating_box {
  border: 1px solid black;
  border-radius: 25%;
  width: 12px;
  height: 12px;
  margin-left: 1em;
}

.fill_box {
  background-color: #FFCC00;
}

// -------- EXPERIENCE SECTION --------
#scrollToExperience {
  height: 100%;
}

.experience {
  height: 100vh;
  //min-height: 800px;
  background-color: #DBE8F9;
  position: relative;
}

.exp_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 30%;
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: #fff;
  box-shadow: 4px 4px #e6ecf8;
}

.exp_box p {
  font-size: 13px;
  padding: 1em 2em;
}

.exp_box .img_wrap {
  margin: 0 auto;
  padding-top: 1em;
}

.img_wrap {
  width: max-content;
}

.img_wrap:hover img {
  opacity: 0.3;
  transition: .5s ease;
  cursor: pointer;
}

.img_desc {
  position: relative;
  bottom: 100px;
  color: black;
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
  transition: opacity .2s, visibility .2s;
  cursor: pointer;
  font-size: larger !important;
}

.img_wrap:hover .img_desc {
  visibility: visible;
  opacity: 1;
}

.img_border {
  border: 1px solid #F0F0F0;
}

// -------- CONTACT SECTION --------
.contact {
  height: 90vh;
  //min-height: 800px;
  background-color: #252934;
  position: relative;
}

.form-control {
  background-color: #1e242c;
  color: white;
}

.form-control:focus {
  background-color: #1e242c;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1e242c inset !important;
  -webkit-text-fill-color: white !important;
}

div.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 75vw;
  max-width: 600px;
}

form button {
  width: 100%;
}

.btn-outline-light {
  background-color: white;
  color: black;
}

.btn-outline-light:hover {
  background-color: #a6a6a6;
  color: white;
}

.progress {
  width: 100%;
  background-color: #eee;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.bar {
  width: 1%;
  height: 20px;
  background-color: #17a2b8;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footnote {
  color: black;
}

footer {
  height: 10vh;
  background-color: lightgrey;
}


// -------- Animations --------
#skills-header {
  width: 100%;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.slide-right {
  animation: 1s slide-right 0s forwards;
  transform: translateX(-100%);
}

.slide-left {
  animation: 1s slide-left 0s forwards;
  transform: translateX(200%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}


// -------- Media Queries --------
@media screen and (min-width: 1500px) {
  .exp_box p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1050px) {
  .skills {
    height: 1450px;
  }

  .skill_icon {
    margin-top: 1em;
  }

  .flex-grid {
    flex-direction: column;
    height: 95%;
  }

  .flex-grid .col {
    width: 100%;
  }

  .col {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .skills_border {
    border-right: none;
    border-bottom: 1px solid #dde2ed;
    padding-bottom: 50px;
  }

  .experience {
    height: 1400px;
  }

  .experience_container {
    flex-direction: column;
  }

  #scrollToExperience {
    height: auto;
  }

  .exp_box {
    width: 90%;
    height: 400px;
    margin-bottom: 1.5em;
  }

  .exp_box p {
    font-size: initial;
    padding: 0;
  }
}

@media screen and (max-width: 765px) {
  .img_wrap {
    height: 50px;
    width: 25vw;
  }
}

@media screen and (max-width: 600px) {
  .exp_box p {
    font-size: small;
  }

  .profile_img {
    width: 200px;
  }

  .about_me {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .about_me span {
    font-size: 3vw;
  }

  #navbar {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .mb-4 {
    font-size: large;
  }

  .skill_header {
    font-size: smaller;
  }

  .exp_box p {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 350px) {
  .mb-4 {
    font-size: medium;
  }

  .mb-3 {
    font-size: medium;
  }

  .skill_header {
    font-size: x-small;
  }

  .bar {
    font-size: x-small;
  }

  .progress {
    height: 15px;
  }

  .cfc_text {
    margin-bottom: 0;
  }
}

