canvas#responsive-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: cadetblue;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_menu a {
  display: block;
  margin-right: 1em;
  text-decoration: none;
}

.nav_menu ul li {
  float: right;
}

a:visited {
  color: #a6a6a6;
}

a:hover {
  color: #4d4d4d;
}

a:active {
  color: #000000;
}

/*font-family: 'Courier New', monospace;*/
/*font-family: "europa", sans-serif;*/

.content {
  font-family: 'Courier New', monospace;
}

.home {
  margin-top: 5em;
}

.center-txt {
  text-align: center;
}

.about_me {
  padding: 2em 15em;
}

.profile_img {
  width: 400px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav_menu.responsive {
    position: relative;
  }

  .nav_menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav_menu.responsive ul li a {
    float: none;
    display: block;
    text-align: left;
  }
}*/
