.perspective-text {
  color: white;
  //font-family: Arial;
  font-size: 58px;
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: uppercase;
  width: 50vw;
  display: block;
  margin: auto;
  padding-top: 23vh;
  margin-right: 32vw;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.perspective-line p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -10deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -10deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #ec9a9a;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #a8dadc;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #457b9d;
}

.perspective-line:nth-child(5) {
  left: 145px;
}

@media screen and (max-width: 775px) {
  .perspective-text {
    font-size: 6vw;
    width: 42%;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    display: block;
    margin-right: 41vw;
  }
}

@media screen and (max-width: 600px) {
  .perspective-text {
    margin-right: 43vw;
  }
}

@media screen and (max-width: 500px) {
  .perspective-text {
    margin-right: 47vw;
  }
}


@media screen and (max-width: 400px) {
  .perspective-line:nth-child(odd) {
    transform: skew( 55deg, -16deg ) scaleY(0.767);
  }

  .perspective-line:nth-child(even) {
    transform: skew( 0deg, -16deg ) scaleY(1.3);
  }

  .perspective-line:nth-child(1) {
    left: 40px;
  }

  .perspective-line:nth-child(2) {
    left: 56px;
  }

  .perspective-line:nth-child(3) {
    left: 83px;
  }

  .perspective-line:nth-child(4) {
    left: 110px;
  }

  .perspective-line:nth-child(5) {
    left: 126px;
  }

  .perspective-text {
    margin-right: 52vw;
  }
}

@media screen and (max-width: 335px) {
  .perspective-text {
    margin-right: 56vw;
  }
}

@media screen and (max-width: 280px) {
  .perspective-text {
    margin-right: 60vw;
  }
}

